{{#if updateRentalForm}}
  <h4>Update {{rental.owner}}'s {{rental.type}}</h4>
    <div>
      <form>
        <div class="form-group">
          <label for="owner">Owner</label>
          {{input value=rental.owner id="owner"}}
        </div>

        <div class="form-group">
          <label for="type">Type</label>
          {{input value=rental.type id="type"}}
        </div>

        <div class="form-group">
          <label for="city">City</label>
          {{input value=rental.city id="city"}}
        </div>

        <div class="form-group">
          <label for="bedrooms">Number of Bedrooms</label>
          {{input value=rental.bedrooms id="bedrooms" type="number"}}
        </div>

        <div class="form-group">
          <label for="image">Image URL</label>
          {{input value=rental.image id="image"}}
        </div>

        <button {{action 'update' rental}}>Save</button>
      </form>
    </div>
{{else}}
    <button {{action 'updateRentalForm'}}>Update</button>
{{/if}}
